.btn {
  display: inline-flex;
  padding: 27px 56px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: $fz-btn;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: $color-dark-main;

  background-color: $color-transparent;
  border: 2px solid $color-light-main;
  cursor: pointer;

  transition: opacity $trans-default;

  &--hero {
    color: $color-light-main;
    user-select: none;

    &:hover,
    &:focus-visible {
      background-color: $color-light-main;
      color: $color-egyptian-blue;
      outline: none;
    }

    &:active {
      color: $color-dark-main;
    }
  }

  &--competitions {
    justify-content: center;
    color: $color-light-main;
    user-select: none;
  }

  &--submit {
    display: block;
    width: 100%;
    color: $color-light-main;
  }

  &--accordion {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid $color-resolution-blue;

    &::before{
      position: absolute;
      content: "";
      width: 20px;
      height: 1px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-resolution-blue;
    }

    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-resolution-blue;
    }
  }

  &--tabs {
    font-size: $fz-large;
    font-weight: 400;
    line-height: 18px;
    color: $color-dark-main;
    border: 1px solid rgba(16, 38, 84, 0.2);

    &:hover,
    &:focus-visible {
      border-color: $color-dark-main;
    }

    &:disabled {
      color: $color-link-water;
      border-color: rgba(16, 38, 84, 0.2);
    }
  }

  &--slider {
    padding: 0;
    border: none;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus-visible {
      border: 2px solid;
      border-radius: 50%;
    }

    &:active {
      background-color: $color-dark-main;
    }

    &:active svg path{
      stroke: $color-light-main;
    }

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  &--slider-disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &--play-video {
    display: none;
    padding: 0;
    border: none;
    border-radius: 50%;
    outline: none;
  }

  &--disabled,
  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &--disabled .training-gym__button-border,
  &:disabled .training-gym__button-border {
    stroke: $color-dark-main;
    opacity: 0.4;
  }

  &--disabled .training-gym__button-circle,
  &:disabled .training-gym__button-circle {
    fill: $color-light-main;
    opacity: 0.4;
  }

  &--disabled .training-gym__button-triangle,
  &:disabled .training-gym__button-triangle {
    fill: $color-dark-main;
    opacity: 0.4;
  }
  // @include hover-focus {
  //   opacity: 0.8;
  // }
}

