.btn {
  display: inline-flex;
  padding: 25px 54px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: $color-default-white;

  background-color: $color-neon-blue;
  border: 2px solid #ffffff;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &--hero-buy {
    background-color: transparent;
  }

  &--tickets-buy {
    padding: 25px 42px;
    color: #102654;
    background-color: #ffffff;
    border: 2px solid #102654;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
