.contacts {

}

.contacts__title {
  margin: 0 0 40px 20px;
}

.contacts__wrapper {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 100px;

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    left: 50%;
    bottom: 0;
    background-color: $color-light-slate-grey;
  }
}

.contacts__item {
  margin-left: 20px;
}

.contacts__item-title,
.contacts__item-text {
  margin: 0;
  margin-bottom: 5px;
}

.contacts__item-text {
  font-size: $fz-small;
  line-height: 22px;
}

.contacts__item-link {
  color: $color-dark-main;
}

