.footer__logo {
  padding: 20px 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__navigation-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  color: $color-light-main;
}

.footer__social-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;

}

.footer__link {
  position: relative;
  padding: 5px 10px;
  color: $color-light-main;

  &:hover {
    &::after {
      position: absolute;
      content: "";
      left: 10px;
      bottom: -5px;
      width: calc(100% - 20px);
      height: 1px;
      background-color: $color-light-main;
    }
  }

  &:focus {
    padding: 5px 10px;
    border: 1px solid $color-light-main;
    outline: none;
  }

  &:active {
    &::after {
      display: none;
    }
  }

  &--disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
