.form {

}

.form__input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-bottom: 28px;
}

.form__label {
  position: relative;
  align-self: start;
  border-bottom: 1px solid;

  &--success {
    border-color: $color-light-slate-grey;
  }

  &--error {
    color: $color-error;
    border: none;
  }
}

.form__label--error .pristine-error {
  border-top: 1px solid $color-error;
}
