.form {

}

.form__input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-bottom: 28px;
}

.form__label {
  position: relative;
  align-self: start;

  &--success {
    border-color: $color-light-slate-grey;
  }

  &--error {
    color: $color-error;
    border: none;
  }
}

.form__label--error .pristine-error {
  border-top: 1px solid $color-error;
}

.form__label input {
  border-bottom: 1px solid $color-light-slate-grey;

  &:hover:not(:focus) {
    border-color: $color-light-main;
  }

  &:active:not(:disabled),
  &:focus,
  &:focus-visible {
    outline: none;
    outline: 1px solid $color-light-main;

    &::placeholder {
      color: $color-transparent;
    }
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
