.input {
  width: 190px;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 5px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: $fz-small;
  line-height: 22px;
  font-weight: 400;
  color: $color-light-main;
  background-color: $color-dark-main;
  border: none;
  border-bottom: 1px solid $color-light-slate-grey;

  &::placeholder {
    color: $color-light-main;
  }
}
