.promotions__title {
  margin-bottom: 70px;
  text-align: center;
}

.promotions__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 40px;
}

.promotions__image-block-content {
  display: flex;
  grid-row: 1/-1;

  h3 {
    margin: 0;
    margin-bottom: 15px;
  }

  strong {
    display: block;
    margin-bottom: 25px;
    font-size: $fz-number-large;
    line-height: 70px;
  }

  p {
    margin: 0;
    font-size: $fz-large;
    font-weight: 300;
  }

  img {
    object-fit: cover;
  }

  a {
    position: absolute;
    left: 45px;
    bottom: 50px;
    font-size: $fz-small;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: $color-light-main;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 1px;
      background-color: $color-light-main;
    }

    &:hover {
      opacity: 0.8;
    }

    &:focus-visible {
      padding: 10px;
      border: 1px solid $color-light-main;
    }

    &:active {
      opacity: 1;
    }
  }

  &--disabled a {
    opacity: 0.5;
    pointer-events: none;
  }

}

.promotions__image-block-content div {
  position: relative;
  padding: 40px 45px 45px;
  background-color: $color-torch-red;
  color: $color-light-main;
}

.promotions__text-block-content {
  position: relative;
  padding: 30px 35px 35px;
  border: 7px solid;
  border-image:  $border-gradient;

  h3 {
    margin: 0;
    margin-bottom: 10px;
    color: $color-resolution-blue;
  }

  p {
    margin: 0;
    font-weight: 300;
    color: $color-resolution-blue;
  }

  a {
    position: absolute;
    left: 35px;
    bottom: 40px;
    font-size: $fz-small;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: $color-resolution-blue;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 1px;
      background-color: $color-resolution-blue;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }
  }

  &--disabled a {
    opacity: 0.5;
    pointer-events: none;
  }
}
