.questions-answers {

}

.questions-answers__title {
  margin-bottom: 51px;
}

.questions-answers__wrapper {
  display: grid;
  grid-template-columns: 260px auto;
  grid-template-rows: 1fr;
  column-gap: 40px;
}
