.tickets {
  position: relative;
  z-index: 2;
  padding: 120px 0 120px;

  @include vp-1365 {
    padding: 100px 0 100px;
  }
}

.tickets__time-list-wrapper {
  text-align: center;
}

.tickets__title {
  margin-bottom: 24px;
  text-align: center;
}

.tickets__time-list {
  margin-bottom: 27px;
}

.tickets__visits-list {
  display: flex;
  justify-content: space-between;

  @include vp-1365 {
    display: grid;
    grid-template-columns: auto;
    row-gap: 40px;
    justify-content: center;
  }
}

.tickets__bg {
  position: absolute;
  z-index: 1;
  bottom: -150px;
  right: 0;
}
