.time-list-item {
  padding: 14px 0 14px;
  font-size: $fz-btn-tab;
  line-height: 20px;
  color: $color-dark-main;
  opacity: 0.5;
  list-style: none;

  &:hover {
    cursor: pointer;
  }
}

.time-list-item {
  &.is-active {
    position: relative;
    opacity: initial;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $color-crimson;
    }
  }
}
