.title {
  margin: 0;

  &--jury {
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    color: #ffffff;
  }

  &--contacts {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }
}
