.training-gym {
  position: relative;
  display: grid;
  grid-template-columns: 355px 660px;
  grid-template-rows: auto;
  column-gap: 136px;
  padding: 120px 0 240px;

  img:first-child {
    display: block;
    grid-column: 2/3;
    object-fit: cover;

    &:last-child {
      margin: 0;
    }
  }
}

.training-gym__text-content {
  grid-row: 1/-1;

  h2 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;
  }

  h3 {
    margin: 0;
    margin-bottom: 76px;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
  }

  p{
    margin: 0;
    margin-bottom: 8px;

    &:last-child {
      margin: 0;
    }
  }
}

.training-gym__iframe {
  position: absolute;
  bottom: 126px;
  right: 359px;
  width: 364px;
  height: 228px;
}

.training-gym__poster {
  position: absolute;
  bottom: 126px;
  right: 359px;
  width: 364px;
  height: 228px;
}

.training-gym__video-background {
  position: absolute;
  bottom: 126px;
  right: 359px;
  width: 364px;
  height: 228px;
  background-color: rgba(20, 54, 122, 0.5);

  &:hover {
    .training-gym__play-btn--stroke {
      fill: $color-dark-main;
    }

    .training-gym__play-btn--circle {
      fill: $color-light-main;
    }

    .training-gym__play-btn--border {
      stroke: $color-dark-main;
      opacity: initial;
    }
  }
}

.training-gym__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
