.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 103px;

  @include vp-1365 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }

  &--header {
    background: $background-gradient
  }

  &--hero {
    background: $background-gradient;
  }

  &--background-light {
    background-color: $color-ghost-white;
  }

  &--background-dark {
    background-color: $color-dark-main;
  }

  &--footer {
    background-color: $color-black-russian;
  }
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @include vp-767 {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.container__hero {
  padding-bottom: 120px;

  @include vp-1365 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.container__tickets {
  position: relative;
}

.container__section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container__form {
  padding-top: 60px;
  padding-right: 170px;
  padding-bottom: 60px;
}

.container__contacts {
  padding: 60px 60px 60px 100px;
  border-top: 1px solid $color-light-slate-grey;
}

.container__half-width-wrapper {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
